*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
    font-family: sans-ser-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

:root {
    --property: #ff79c6;
    --numeric: #f08d49;
    --string: #4cff8f;
    --keyword: #66d9ef;
    --punctuation: #abb2bf;
    --background: #202329;
    --backgound_opacity: #0202025c;
    --radius: 10px;
    --inline-background: #1b1f230d;
    --inline-color: #476582;
    --fontzise: 18.5px;
    --natural: rgb(255, 255, 255);
    --background_card: rgb(60, 62, 68);
    --subtitle: rgb(158, 158, 158);
    --fontsize_subtile: 15.7px;
    --fontsize_text-subtitle: 18.2px;
    --spacingObject: 4px;
    --stopNext:#ffe8e8a6;
}

.img_background_nav{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

header, main{
    background: rgb(255, 255, 255);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparent;
    padding: 0px 27px;
    position: sticky;
    width: 100%;
    top: 0.1px;
    z-index: 200;
}


.list_items{
    display: flex;
    list-style: none;

}

.head_navbar{
    flex-grow: 1;
}
.list{
    flex-grow: 1;
    
}

.list_item{
    font-weight: bold;
    font-size: var(--fontzise);
    cursor: pointer;
    transition: all 0.1s ease 0s;


}

.list_item:hover{
    color: var(--numeric);
}

.list_btn:hover{
    color: white !important;
    background-color: var(--numeric);
}

.list_btn{
   border: none;
   background-color: var(--natural);
   outline: 1px solid var(--numeric);
   border-radius: var(--radius);
   padding: 5px 1rem;
   font-weight: 400;
   transition: all 0.1s ease 0s

}


.list_items{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.40rem;
    font-size: 14px;
    font-weight: 400;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 28px;
    height: calc(50vh - 60px);
    min-height: 300px;
}

.img_rm{
    width: clamp(200px,100%,399px);
    height: 100%;
    fill: rgb(245, 245, 245);
}

.dt-items{
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(460px,100%),600px));
    gap: 25px;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 232px;
}

.dt_c{
    background-color: var(--background);
    min-height: 50vh;
    padding-bottom: 30px;
    
}




.search_character{
    position: relative;
    z-index: 40;
    outline: none;
    border-radius: 30px;
    width: clamp(200px,80%,791px);
    height: 60px;
    padding: 0px 40px;
    font-size: 18px;
}

.search_character:focus{
   outline: 2px solid var(--numeric);

}

.search_container{
    z-index: 100;
    width: 100%;
}

.search_icon{
    position: absolute;
    z-index: 100;
    transform: translate(14px,19px);
    font-size: 20px;
}

.title_nav{
    z-index: 40;
    font-size:xx-large;
}

.text_title_nav{
    font-family: 'Lilita One', cursive;
    font-size: 80px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 232px;
    flex-wrap: wrap;
    border-radius: var(--radius);
    background-color:var(--background_card);
    overflow: hidden;
    cursor: pointer;
}

.card_img-content {
    height: 100%;
    flex-grow: 1;
    border-radius: var(--radius);
    width: 39%;
}

 .img_avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--radius) 0px 0px var(--radius);
}


 .card_dt-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 11px;
    gap: 20px;
}

.card_st{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: var(--punctuation);
}

.card_status-text{
    font-size: var(--fontsize_text-subtitle);
    font-weight: 100;
    color: var(--natural);
}

.card_name{
    font-size: 29px;
    color: var(--natural);
}

.card_location {
    font-weight: 100;
    font-size: var(--fontsize_subtile);
    color: var(--subtitle)
}

.card_status {
    display: flex;
    gap: 4px;
    align-items: center;
}

.card_location-text {
    color: var(--natural);
    font-weight: 400;
    font-size: var(--fontsize_text-subtitle);
}

.card_seen {
    color: var(--subtitle);
    font-weight: 100;
    font-size: var(--fontsize_subtile);
}

.card_seen-text {
    font-weight: 100;
    font-size: var(--fontsize_text-subtitle);
    color: var(--natural);
}

.card_dt-container > article {
    display: flex;
    flex-direction: column;
    gap: var(--spacingObject);
}


@media screen and (max-width: 1240px){
    .dt-items {
        grid-template-columns: repeat(auto-fit,minmax(min(412px,100%),480px));
    }
}
@media screen and (max-width: 1023px){
    .dt-items {
        grid-template-columns: repeat(auto-fit,minmax(min(412px,100%),600px));
    }
}

@media screen and (max-width: 680px) {
        search.search{
            padding: 16px;
        }

        .search_character {
            width: clamp(200px,95%,791px);
          
        }

        .dt-items {
            grid-auto-rows: 250px;
        }
}

@media screen and (max-width: 445px) {
    
    .dt-items {
        grid-auto-rows: 420px;
    }
    .dt_c {
        padding: 25px 13px;
    }

    .card{
        height: auto;
    }

    .card_img-content {
        height: 200px;
    }

    .card_dt-container {
        width: 100%;
        padding: 8px;
        justify-content: end;
    }

    .img_avatar {
        border-radius: var(--radius) var(--radius) 0px 0px;
    }
}

@media screen and (max-width: 380px){
    .list_btn {
        font-size: 18px;
    }

    .head {
        padding: 0px 10px;
    }

    .search{
        height: auto;
        padding: 20px 0px;
    }

}
.notfound {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: var(--natural);
    font-family: 'Belanosima', sans-serif;
}

.life{
     background: var(--string)!important;
}

.dead{
    background: red !important;
}

/*CARD EMERGENTE*/

.container_develorment_character{
    position: absolute;
    min-height: max-content;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--backgound_opacity);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: auto;
    gap: 10px;
}

.develorment_character {
    display: flex;
    width: 65%;
    height: auto;
    min-width: 300px;
    min-height: 650px;
    align-items: center;
    justify-content: center;
    background-color: var(--background_card);
    border-radius: var(--radius);
    position: relative;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
}

.develorment_close {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 25px;
    color: var(--natural);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 32px;
    transition: all .5s ease;
}
.develorment_close:hover{
    background-color: #8b8484ad;

}

.develorment_close:active{
    background-color: #cfb6b6ad;

}

#dev_close{
    cursor: pointer;
}

.dev_char_continer_img {
    width: 40%;
    top: 0px;
    right: 0px;
    margin: 50px;
    margin-right: 95px;
    position: absolute;
    overflow: hidden;
    border-radius: 100%;
}

.dev_info_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dev_char_container_info {
    flex-grow: 1;
    height: 100%;
    min-width: 500px;
}

.dev_char_container_info {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 18px;
}

.dev_info_Contianer_name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1.dev_info_name {
    color: var(--natural);
    font-size: 40px;
    font-weight: bold;
    width: 60%;
}

.dev_info_style_title {
    font-size: 22px;
    color: var(--subtitle);
    font-weight: 100;
}

.dev_info_style_subtitle {
    color: var(--natural);
    font-weight: 100;
    font-size: 30px;
}

.dev_info_status-text {
    color: var(--natural);
    font-weight: 100;
    font-size: 20px;
}

.dev_info_staus {
    display: flex;
    align-items: center;
    gap: 6px;
}

.cdev_info_st {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--punctuation);
}

.ico_cd-fl{
    cursor:  pointer !important;
}

.dev_info_status-text {
    color: var(--natural);
    font-weight: 100;
    font-size: 20px;
}

.dev.info_location-date {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 40%;
    flex-wrap: wrap;
}

.dev_info_container_episode {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 5px;
    max-height: 110px;
}

.dev_info_episode {
    display: flex;
    background: var(--putuacion);
    outline: 1px solid;
    border-radius: var(--radius);
    min-height: 80px;
    padding: 5px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--natural);
    margin: 5px;
}

.episode_style_text {
    font-weight: 100;
}

.dev_info_Contianer_origen {
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.loadEffect{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: var(--backgound_opacity);
    display: flex;
    justify-content: center;
    align-items: center;
}


.textloadDiv{
    font-family: 'Lilita One', cursive;
    font-size: 110px;
    color: var(--natural);
}

.textloadDiv::after{
    content: "...";
    position: absolute;
    position: absolute;
    z-index: 1000;
    width: auto;
    height: auto;
    animation: desaparecer .8s  ease infinite ;
}


.iconNFgeneral {
    z-index: 2000;
    font-size: 50px;
    color: var(--natural);
}

.icon_next {
    transform: rotate(180deg);
    cursor: pointer;

}

.icon_after {
    cursor: pointer;
}

.disabled{
    color: var(--stopNext) !important;
}

#after ,#Next{
    transition: all .5s ease;

}

#after:hover ,#Next:hover{
    color: #fda4a4;

}

#after:active ,#Next:active{
    color: #e68181;

}

.container_mode{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
    margin: 0px 0px;
}

.icon_mode{
    color: var(--natural);
    cursor: pointer;
    font-size: 27px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.icon_mode:hover{
    background: #6262639c;
    
}

.icon_mode:active{
    background: #a18a8a9c
}

.mode_container-list {
    font-size: 23px;
}

.container_modo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

select.selec_order {
    outline: none;
    border: none;
    padding: 5px;
    background: var(--background_card);
    color: var(--natural);
    font-weight: bold;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}


.container_icon-list{
    color: var(--natural);
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.container_icon-list:hover{
    background-color: #797979c9;
}

.container_icon-list:active{
    background-color: #937a7a9c;
}

.img_list{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_img {
    width: 105px;
    min-width: 105px;
}

.cardList {
    display: flex;
    height: 119px;
    overflow: hidden;
    border-radius: var(--radius);
    background-color: var(--background_card);


}

#list_visual{
    cursor: pointer;
}


.dt-items-list{
      grid-template-columns: repeat(auto-fit,minmax(min(220px,100%),440px)) !important;
      grid-auto-rows: 125px !important;

}



.dt_sec-list{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
    gap: 5px;
}

@media screen and (max-width: 1320px){
    .develorment_character{
        width: 90%;
    }
}

@media screen and (max-width: 810px){
    .dev_char_continer_img {
        margin-right: 50px;
    }

    .textloadDiv{
        font-size: 55px;
    }
    

}


@media screen and (max-width: 665px){

    .container_mode{
        padding: 0px 0px;
    }

    .icon_after {
        position: absolute;
        top: 7%;
        right: 0px;
        margin: 10px;
        margin-right: 7%;
    }

    .icon_next {
        position: absolute;
        left: 0px;
        top:7%;
        margin: 10px;
        margin-left: 7%;
    }
}

@media screen and (max-width: 660px){
    .container_develorment_character {
        margin: 0px;
        padding: 0px;
        overflow-y: scroll;
    }

    .develorment_character{
        border-radius: 0px;
        width: 100%;
        height: 100%;
       
        
    }

    h1.dev_info_name {
        width:100%;
    }

    .dev.info_location-date {
        width: 100%;
    }

    .dev_char_container_info{
        justify-content: end;
        height: auto;
    }

    .dev_char_continer_img {
        margin: 20px;
        width: 50%;
        position: relative;
    }

    .dev_info_container_episode{
        grid-template-columns: 1fr;
        width: 100%;
        max-height: 200px;
    }

    .dev_char_container_info {
        background: var(--background_card);
        min-width: 277px;
    }

}

/*animation load*/







@keyframes desaparecer {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

