.container-card {
  background-color: var(--bg_card_global);
  box-shadow: var(--box_shadow_global);
  border-radius: 8px;
  margin: calc(var(--margin_global) * 3) calc(var(--margin_global) * 4);
  color: var(--color_text_primary);
  display: flex;
  width: 560px;
  
  height: 220px;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-section_img {
  flex-grow: 1;
  flex-basis: 35%;
  height: max-content;
}

.card-section_details {
  flex-grow: 1;
  flex-basis: 65%;
  height: max-content;
  padding: var(--padding_global);
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  color: inherit;
  height: 100%;
}

.card-section_details article{
   color: inherit;
}
.card-section_img {
  height: inherit;
  overflow: hidden;
  display: flex;
}

.card-name{
    color: inherit;
    font-weight: bold;
}
.card-content_live{
    color: inherit;
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: normal;
}

.card-status_live{
    background-color: red;
    border-radius: 50%;
    padding: 4px;
}

.card-description{
    color: var(--color_text_secundary);
    font-weight: bolder;
}

.card-description_text{
    color: inherit;
}
.card-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (width <= 570px) {
  .container-card {
    min-width: 200px;
    height: 100%;
    margin: calc(var(--margin_global) * 3) calc(var(--margin_global) * 3);
  }

  .card-section_img {
    flex-grow: 1;
    flex-basis: 100%;
    height: 270px;
  }

  .card-section_details {
    flex-grow: 1;
    flex-basis: 100%;
    height: 220px;
  }
}
