:root {
  --padding_global: 9px;
  --margin_global: 5px;
  --fontSize_small: 12px;
  --fontSize_normal: 14px;
  --fontSize_large: 18.5;
  --fontSize_small: 14px;
  --bg_card_global: #3c3e44;
  --bg_primary_global: #ffff;
  --bg_secundary_global: #272b33;
  --bg_third_global: rgb(32, 35, 41);
  --box_shadow_global: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --bg_opacity_primary: #d4d2d029;
  --bg_opacity_secundary: #0202025c;
  --color_text_global: #202329;
  --color_text_primary: #ffff;
  --color_text_secundary: #9e9e9e;
  --color_hover: #ff9800;
  --color_live_true: rgb(85, 204, 68);
  --color_live_false: #d63d2e;
  --color_live_null: #9e9e9e;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans KR", monospace, sans-serif;
  color: var(--color_text_global);
}

ul {
  list-style: none;
}
body {
  position: relative;
  height: 100vh;
}

.root {
  height: max-content;
  position: relative;
}
a {
  text-decoration: none;
}

.animation-title {
  text-align: center;
  width: 10ch;
  overflow: hidden;
  animation: write 1.3s steps(10), tip .5s  step-end forwards  alternate;

  border-right: 4px solid orange;
}

.animation-text {
  color: var(--bg_primary_global);
  overflow: hidden;
  font-weight: normal;
  font-size: large;
  font-family: monospace;
  display: block;
  border-right: 4px solid orange;
  white-space: nowrap;
  width: 13ch;
  animation: write 3s steps(13) infinite, tic .5s step-end infinite alternate;
}

@keyframes tip {
  form {
    border-right: transparent;
  }

  to{
    border: none;
  }
  
 
}

@keyframes write {
  0% {
    width: 0;
  }
}

@keyframes tic {
  50% {
    border-color: transparent;
  }
}
